#border{
    border: 10px solid rgb(2, 160, 2);
    height: 500px;
    
}
#border2{
    border: 5px solid rgb(2, 160, 2);
    
}

h4{
    width: 150px;
    height: 70px;
}

#btns{

    margin-top: 20%;
    background-color: grey;
}